.card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.card-item {    
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    background: var(--bg-dark-light);
    transition: var(--transition);
}

.card-item:hover {
    border-color: var(--primary-hover);
    border: 3px dashed;  
    background: transparent;
}

.card-image {
    border-radius: 1.5rem;
    overflow: hidden;
    max-width: 100%;
    min-height: 186.5px;
    height: auto;
}

.card-item-links {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}


@media screen and (max-width: 1024px) {
    .card_container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}


@media screen and (max-width: 600px) {
    .card_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .card-item {
        padding: 1rem;
    }
    .card-image {
        max-width: 100%;
        height: auto;
    }
    h3 {
        font-size: 1.2rem;
        margin: 0.8rem 0 1.5rem;
    }
    .card-item-links {
        flex-direction: column;
    }
}
